:root {
  --bg-main: #0b0f19;
  --bg-card: rgba(255, 255, 255, 0.06);
  --accent: #6c63ff;
  --accent-soft: #8b85ff;

  --text-main: #e5e7eb;
  --text-muted: #9ca3af;

  --border-glass: rgba(255, 255, 255, 0.15);
  --radius: 16px;
}
