* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
  line-height: 1.7;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 6rem 2rem;
}

.container {
  max-width: 1100px;
  margin: auto;
}
